{% extends "_layout" %}
{% block content %}
    <div class="page">
        <div class="rusland">
            <div class="rusland__container _container">
                <div class="rusland__body">
                    <div class="error">
                        <div class="error__container _container">
                            <div class="error__content">
                                <h1 class="error__title _title">{{ 'Page Not Found'|t }}</h1>
                                <p class="error__text">{{ "We're sorry, but the page you requested cannot be found"|t }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}